@font-face {
  font-family: "title";
  src: url(./fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "regular";
  src: url(./fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
}

#container {
  margin: 30px auto;
  width: 60%;
}

h1 {
  text-align: center;
  font-family: "title";
}

#task-form {
  text-align: center;
  margin: 20px;
}

#task-description {
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  padding: 0 10px;
  width: 60%;
  margin-right: 10px;
  font-family: "regular";
  text-align: center;
}

#task-form button{
  border: none;
  background-color: blueviolet;
  font-family: "title";
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}